.menuheader .container
{
    background: #545658;
    text-align: left;
    margin-left: 0;
    height: 80px;

}

.logo_header
{
    border-radius: 350px;
    width: 200px;
    position: absolute;
    z-index: 100;
    overflow: visible;
    top: -50px;
    left: 20px;
}

