<div class="case-study study1">
    <figure class="case-study__img">
        {% for image in page.collection %}
            <li>{{ image.media.images|first }}</li>
        {% endfor %}
    </figure>
    <div class="case-study__overlay">
        <h2 class="case-study__title">{{ page.title }}</h2>
        <a class="case-study__link" href="{{ page.url }}">En voir plus</a>
    </div>
</div>
