
<div class="case-study study1">
    <figure class="case-study__img">
{{ page.media.images|first }}
    </figure>
    <div class="case-study__overlay">
        <h2 class="case-study__title">{{ page.title }}</h2>
        <a class="case-study__link" href="#">En voir plus</a>
    </div>
</div>