<div class="row_1">
    <div class="container">
        <p class="title1">{{ page.header.title }}</p>
    </div>
    <div class="container">
        <div class="row">
            <div id="last-news-item">
                {% set collection = page.collection() %}

                {% for child in collection %}
                    {% set image = page.media.images|first %}

                    {% include 'partials/lastnews.html.twig' with  {'categories':page, 'page': child,'img': image, 'truncate':true} %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

