<div class="row_1">
    <div class="container">
        <p class="title1">{{ page.header.title }}</p>
    </div>
    <img class="lazyload lazypreload fadein" src="{{ page.media[image.thumbnail].url }}" data-src="{{ page.media[image.thumbnail].url }}" itemprop="thumbnail" alt="{{ image.description }}"/>
</div>